* text=auto eol=lf

# Godot binary imports and caches
*.import        text
*.tres          text
*.tscn          text
*.gdshader      text
*.gd            text
project.godot   text

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ogg binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
*.aab binary
*.apk binary
*.keystore binary
*.jks binary
